* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}

.cabecalho {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}


.icone__barbearia {
    width: 50px;
    height: 50px;
}

.conteudo__pagina__texto {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/barbearia.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.textos {
    color: white;
    -webkit-text-stroke: 0.1rem black;
}

.login {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 23%;
}

.input {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 0.5rem;
    width: 100%;
}

.btn__entrar {
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 0.5rem;
    border: solid 1px rgb(128, 128, 128);
    color: black;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn__entrar:hover {
    background-color: rgb(171, 171, 171);
    color: black;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: grey;
}